<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897857541871-mqaojoietgu36ebs4pn0tjmiha7lh970.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897857541871-mqaojoietgu36ebs4pn0tjmiha7lh970</string>
	<key>API_KEY</key>
	<string>AIzaSyAou4OqiuVV8P29gy7jOt665qZkEm4VjhI</string>
	<key>GCM_SENDER_ID</key>
	<string>897857541871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icare</string>
	<key>PROJECT_ID</key>
	<string>i-care-ed81b</string>
	<key>STORAGE_BUCKET</key>
	<string>i-care-ed81b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897857541871:ios:5577bcc570366205b1ed1a</string>
</dict>
</plist>